<form {{action 'commit' this on="submit"}}>
<p><label>First Name:</label> {{input type='text' value=firstName}}</p>
<p><label>Last Name:</label> {{input type='text' value=lastName}}</p>
<p><label>Street Address Line 1:</label> {{input type='text' value=streetAddress_1}}</p>
<p><label>Street Address Line 2:</label> {{input type='text' value=streetAddress_2}}</p>
<p><label>City:</label> {{input type='text' value=city}}</p>
<p><label>State:</label> {{input type='text' value=state}}</p>
<p><label>Zip:</label> {{input type='text' value=zip}}</p>
<p><label>Special Instructions:</label> {{input type='text' value=specialInstructions}}</p>
<p><label>Phone Number:</label> {{input type='text' value=phoneNumber}}</p>
<p><label>Email:</label> {{input type='text' value=email}}
<button type=submit>Save</button>
</form>
